@font-face {
  font-family: "Tuesday Night";
  src: local("Tuesday Night"), url(./fonts/TuesdayNight-Regular.otf),
    format("truetype");
}

@font-face {
  font-family: "Tradesmith";
  src: local("Tradesmith"), url(./fonts/TradesmithRegular.otf),
    format("truetype");
}
