@font-face {
  font-family: "Tues Night";
  src: url("/fonts/TuesdayNight-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Tradesmith";
  src: url("/fonts/TradesmithRegular.otf") format("opentype");
}
